body {
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  background-color: #CEC0CF;
  background-image: url(images/background.jpg);
  margin:auto;
  max-width: 90%;
}
main {
  margin: 30px;
  background-color: #a8a2b0;
  border-style:double;
  border-color:white;
  height: 500px;
  text-align: center;
}
h1 {
  color: white;
  background-color: #674a8c;
  text-align: center;
  border-radius: 5px;
  border-style: dashed;
  border-color: #a8a2b0;
}
nav {
  text-align: center;
  font-size: 20pt;
}
a:link {color: #544c5e;}
a:hover {color:#9f91b3;}
a:visited {color:purple;}
h2 {text-decoration-line: underline;
color: #2e2a33;
border-style: inset;
border-color: lightgrey;}
p {margin:auto;
width: 80%;
padding-bottom: 20px}